html{
	
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	min-width: 1024px;
	font-size: 80%;
	line-height: 1.5;
	color: #333333;
	background-position: 0px 0px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
h1{
	margin: 0;
	color: #F00;
	display: block;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 10px;
	
	width: 215px;
	height: 58px;
}
*html h1{
	margin: 0;
	color: #F00;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}
h1 span{
	font-size: 10px;
	
}
h2{
	float: left;
	font-weight: bold;
	font-size: 200%;
	margin: 0;
	display: block;
	padding-top: 17px;
	padding-right: 20px;
	padding-bottom: 13px;
	padding-left: 20px;
	font-weight: normal;
	
}

h3{
	font-size: 180%;
	font-weight: normal;
	background:#ededed;
	padding: 10px;
	margin: 20px 0 20px 0;
}


h4{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	font-size: 120%;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #900;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
}
img{
	vertical-align:bottom;
	border: none;
	
}
iframe{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

p {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
dd{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	margin: 0px;
}
.W200{
	width:200px;
}
.fs-10px{
	font-size: 10px;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
li{
	margin: 0px;
	padding: 0px;
}

a:link,
a:visited{
	color: #900;
	text-decoration: none;
}
a:focus,
a:hover,
a:active {
	color: #F00;
	text-decoration: underline;

}

code{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}
pre{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}